body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    list-style-type: none;
}

.header a {
    text-decoration: none;
}

.header .logo {
    color: #2E2F42;
    margin-right: 76px;
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigate {
    display: flex;
    align-items: center;
}

.main-navigate--list {
    gap: 40px;
}

.main-navigate--link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigate--link:hover {
    color: #404BBF;
}

.main-navigate--link--active {
    position: relative;
    color: #404bbf;
}

.main-navigate--link--active:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

address {
    font-style: normal;
}

.contacts--list {
    gap: 40px;
}

.contacts--link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts--link:hover, .contacts--link:focus {
    color: #404BBF;
}

.logo {
    display: inline-block;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

.logo span {
    color: #4D5AE5;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.hero-button {
    min-width: 169px;
    background-color: #4D5AE5;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    background-color: #404BBF;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 120px 0;
    background-color: #FFFFFF;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    margin-bottom: 8px;
}

section ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
}

section ul li {
    list-style-type: none;
    flex: 0 1 calc(25% - 18px);
}

.main-text {
    margin: 0;
}

.concept-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 24px 0;
    height: 112px;
    margin-bottom: 8px;
}

.concept-img .icon {
    width: 64px;
    height: 64px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 #2E2F4214;
    border-radius:  0 0 4px 4px;
    overflow: hidden;
}

.card-image {
    object-fit: contain;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px
}

.team {
    background-color: #F4F4FD;
}

.team .subtitle, .team .main-text {
    text-align: center;
}

.team .card {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.team .card-content {
    padding: 32px 0;
}

.team .main-text {
    margin-bottom: 8px;
}

.team .socials-list {
    gap: 24px;
    justify-content: center;
}

.team .socials-link:hover, .team .socials-link:focus {
    background-color: #404bbf;;
}

.portfolio-list {
    row-gap: 48px;
}

.portfolio-list .card {
    flex: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.portfolio-list .card:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list .card:hover .card-header .main-text {
    transform: translateY(0%);
}

.portfolio-list .card-header {
    position: relative;
    overflow: hidden;
}

.portfolio-list .card-header .main-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card-content {
    align-items: start;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2F42;
    padding: 100px 0 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer .logo {
    margin-bottom: 16px;
}

.footer--text {
    font-size: 16px;
    line-height: 24px;
    color: #F4F4FD;
    max-width: 264px
}

.footer-info {
    margin-right: 120px;
}

.footer-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 16px;
}

.socials {
    margin-right: 80px;
}

.socials-list {
    display: flex;
    gap: 16px;
    padding: 0;
    list-style-type: none;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover, .socials-link:focus {
    background-color: #31d0aa;
}

.socials-link .icon {
    fill: #f4f4fd;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-form-input::placeholder {
    color: #ffffff;
}

.subscribe-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.subscribe-form-button .icon {
    margin-left: 16px;
    fill: #ffffff;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover, .modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:hover .icon, .modal-close-button:focus .icon {
    fill: #ffffff;
}

.modal-close-button .icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-item {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input-wrapper .icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input:focus + .icon {
    fill: #4D5AE5;
}

.textarea-wrapper {
    margin-bottom: 16px;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.accept-terms {
    margin-bottom: 24px;
}

.accept-terms input:checked + .modal-form-checkbox-label .modal-form-checkbox {
    fill: #F4F4FD;
    background-color: #404bbf;
    border: none;
}

.modal-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-terms-link {
    color: #4d5ae5;;
}

.accept-terms-button {
    display: block;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    height: 56px;
    margin: 0 auto;
    cursor: pointer;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}